$icon-font-path: '../fonts/';

@import '_chartist-settings.scss';
@import '_animations.scss';
@import '_scroll.scss';
// bower:scss
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// endbower


body {
  font-family: 'Source Sans Pro';
  overflow: hidden;
  background-color: #68D5B6;
  color: white;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.cover {
  min-height: 100vh;
}

.cover:after {
  content: '';
  display: table;
  clear: both;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rotating-words {
  transform: translateX(-50%) translateY(-100%);
  span {
    display: inline-block;
    position: absolute;
    opacity: 0;
    width: 100%;

    &.visible {
      @include animation(slide-in 0.6s);
      opacity: 1;
    }

    &.hiding {
      @include animation(slide-out 0.6s);
    }
  }
}

.modal-content {
  background-color: #22283F;
  .modal-header {
    border: none;
    h4 {
      font-size: 1.5em;
    }
  }

  p {
    font-size: 1.2em;
  }

  .modal-footer {
    border: none;
    font-size: 0.6em;
    font-style: italic;

    a {
      color: rgb(225, 225, 225);
    }
  }
}

#landing {
  .title {
    position: relative;
    width: 100%;
  }

  .content {
    background-color: #121521;
  }
}

#info {
}

#graphs {
  .content {
    background-color: #22283F;
    position: relative;
  }

  .options {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(18, 21, 33, 0.7);
    width: 250px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.4s ease-in-out;
  }

  form {
    position: relative;

    .toggle {
      text-align: center;
      height: 60px;
      width: 60px;
      position: absolute;
      left: -75px;
      background-color: rgba(18, 21, 33, 0.7);

      .glyphicon-menu-hamburger {
        font-size: 25px;
        line-height: 35px;
        margin-top: 5px;
        margin-bottom: -5px;
      }

      .label {
        line-height: 20px;
      }
    }
  }
}

#disclaimers {
}

.text-content {
  padding-top: 5em;
  background-color: #3D4048;

  blockquote p {
    margin-bottom: 10px;
  }

  p {
    font-size: 1.8em;
    margin-bottom: 1.8em;
  }
}
